
<div class="logo">
    <a class="simple-text logo-mini">
      <div class="logo-img">
          <img src="./assets/img/Logo_2-removebg-preview - copia.png"/>
      </div>
    </a>
    <a  class="simple-text logo-normal">
        veterinaria Zancudo
    </a>
</div>
<div class="sidebar-wrapper">
    <ul class="nav">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <a class="nav-link" [routerLink]="menuItem.path">
                <i class="now-ui-icons {{menuItem.icon}}"></i>
                <p>
                    {{menuItem.title}}
                    <span *ngIf="menuItem.showCount !== false && menuItem.count !== undefined && menuItem.count > 0" class="badge badge-success" style="margin-left: 5px;">
                        {{menuItem.count}}
                    </span>
                    <span *ngIf="menuItem.loading" class="spinner-border spinner-border-sm" style="margin-left: 5px;"></span>
                </p>
            </a>
        </li>
    </ul>
</div>
